@import "@personal-blog/design-system/theme.css";

@theme {
  /* Button Default */
  --color-button-default-base: var(--theme-button-default-base);
  --color-button-default-base-hover: var(--theme-button-default-base-hover);
  --color-button-default-border: var(--theme-button-default-border);
  --color-button-default-border-hover: var(--theme-button-default-border-hover);
  --color-button-default-text: var(--theme-button-default-text);
  --color-button-default-text-hover: var(--theme-button-default-text-hover);

  /* Button Outline */
  --color-button-outline-base: var(--theme-button-outline-base);
  --color-button-outline-base-hover: var(--theme-button-outline-base-hover);
  --color-button-outline-border: var(--theme-button-outline-border);
  --color-button-outline-border-hover: var(--theme-button-outline-border-hover);
  --color-button-outline-text: var(--theme-button-outline-text);
  --color-button-outline-text-hover: var(--theme-button-outline-text-hover);

  /* Button Secondary */
  --color-button-secondary-base: var(--theme-button-secondary-base);
  --color-button-secondary-base-hover: var(--theme-button-secondary-base-hover);
  --color-button-secondary-text: var(--theme-button-secondary-text);
  --color-button-secondary-text-hover: var(--theme-button-secondary-text-hover);

  /* Button Ghost */
  --color-button-ghost-text: var(--theme-button-ghost-text);
  --color-button-ghost-text-hover: var(--theme-button-ghost-text-hover);

  /* Text Default */
  --color-system-text-default: var(--theme-text-default);

  /* Text Link */
  --color-system-text-link: var(--theme-text-link);
  --color-system-text-link-hover: var(--theme-text-link-hover);
  --color-system-text-link-active: var(--theme-text-link-active);

  /* Text BigLink */
  --color-system-text-biglink: var(--theme-text-biglink);
  --color-system-text-biglink-hover: var(--theme-text-biglink-hover);
  --color-system-text-biglink-active: var(--theme-text-biglink-active);

  /* Title default */
  --color-system-title-default: var(--theme-system-title-default);

  /* Separator default */
  --color-system-separator-default: var(--theme-separator-default);

  /* Skeleton default */
  --color-skeleton-default: var(--theme-skeleton-default);
  --color-skeleton-default-hover: var(--theme-skeleton-default-hover);

  /* Error Wrapper default */
  --color-error-wrapper-default: var(--theme-error-wrapper-default);
  --color-error-wrapper-border: var(--theme-error-wrapper-border);
  --color-error-wrapper-text: var(--theme-error-wrapper-text);
}

@layer base {
  :root {
    /* Button Default */
    --theme-button-default-base: var(--color-system-neutral-0);
    --theme-button-default-base-hover: var(--color-system-neutral-100);
    --theme-button-default-border: var(--color-system-neutral-200);
    --theme-button-default-border-hover: var(--color-system-neutral-300);
    --theme-button-default-text: var(--color-system-neutral-700);
    --theme-button-default-text-hover: var(--color-system-neutral-900);

    /* Button Outline */
    --theme-button-outline-base: var(--color-system-neutral-100);
    --theme-button-outline-base-hover: var(--color-system-neutral-200);
    --theme-button-outline-border: var(--color-system-neutral-200);
    --theme-button-outline-border-hover: var(--color-system-neutral-300);
    --theme-button-outline-text: var(--color-system-neutral-900);
    --theme-button-outline-text-hover: var(--color-system-neutral-900);

    /* Button Secondary */
    --theme-button-secondary-base: var(--color-system-neutral-700);
    --theme-button-secondary-base-hover: var(--color-system-neutral-800);
    --theme-button-secondary-text: var(--color-system-neutral-0);
    --theme-button-secondary-text-hover: var(--color-system-neutral-100);

    /* Button Ghost */
    --theme-button-ghost-text: var(--color-system-neutral-700);
    --theme-button-ghost-text-hover: var(--color-system-neutral-800);

    /* Text Default */
    --theme-text-default: var(--color-system-neutral-600);

    /* Text Link */
    --theme-text-link: var(--color-system-neutral-600);
    --theme-text-link-hover: var(--color-system-neutral-700);
    --theme-text-link-active: var(--color-system-neutral-700);

    /* Text BigLink */
    --theme-text-biglink: var(--color-system-neutral-600);
    --theme-text-biglink-hover: var(--color-system-neutral-900);
    --theme-text-biglink-active: var(--color-system-neutral-900);

    /* Title default */
    --theme-system-title-default: var(--color-system-neutral-700);

    /* Separator default */
    --theme-separator-default: var(--color-system-neutral-200);

    /* Skeleton default */
    --theme-skeleton-default: var(--color-system-neutral-700);
    --theme-skeleton-default-hover: var(--color-system-neutral-800);

    /* Error Wrapper default */
    --theme-error-wrapper-default: var(--color-system-red-600);
    --theme-error-wrapper-border: var(--color-system-red-600);
    --theme-error-wrapper-text: var(--color-system-neutral-0);
  }

  [data-theme="dark"] {
    /* Button Default */
    --theme-button-default-base: var(--color-system-neutral-800);
    --theme-button-default-base-hover: var(--color-system-neutral-900);
    --theme-button-default-border: var(--color-system-neutral-700);
    --theme-button-default-border-hover: var(--color-system-neutral-700);
    --theme-button-default-text: var(--color-system-neutral-0);
    --theme-button-default-text-hover: var(--color-system-neutral-0);

    /* Button Outline */
    --theme-button-outline-base: var(--color-system-neutral-900);
    --theme-button-outline-base-hover: var(--color-system-neutral-700);
    --theme-button-outline-border: var(--color-system-neutral-700);
    --theme-button-outline-border-hover: var(--color-system-neutral-600);
    --theme-button-outline-text: var(--color-system-neutral-0);
    --theme-button-outline-text-hover: var(--color-system-neutral-0);

    /* Button Secondary */
    --theme-button-secondary-base: var(--color-system-neutral-0);
    --theme-button-secondary-base-hover: var(--color-system-neutral-100);
    --theme-button-secondary-text: var(--color-system-neutral-900);
    --theme-button-secondary-text-hover: var(--color-system-neutral-900);

    /* Button Ghost */
    --theme-button-ghost-text: var(--color-system-neutral-0);
    --theme-button-ghost-text-hover: var(--color-system-neutral-100);

    /* Text Default */
    --theme-text-default: var(--color-system-neutral-400);

    /* Text Link */
    --theme-text-link: var(--color-system-neutral-400);
    --theme-text-link-hover: var(--color-system-neutral-0);
    --theme-text-link-active: var(--color-system-neutral-0);

    /* Text BigLink */
    --theme-text-biglink: var(--color-system-neutral-400);
    --theme-text-biglink-hover: var(--color-system-neutral-0);
    --theme-text-biglink-active: var(--color-system-neutral-0);

    /* Title default */
    --theme-system-title-default: var(--color-system-neutral-0);

    /* Separator default */
    --theme-separator-default: var(--color-system-neutral-700);

    /* Skeleton default */
    --theme-skeleton-default: var(--color-system-neutral-400);
    --theme-skeleton-default-hover: var(--color-system-neutral-300);

    /* Error Wrapper default */
    --theme-error-wrapper-default: var(--color-system-red-600);
    --theme-error-wrapper-border: var(--color-system-red-600);
    --theme-error-wrapper-text: var(--color-system-neutral-0);
  }
}
