@import "@personal-blog/design-system/theme.css";

@theme {
  /* Button Default */
  --color-button-default-base: var(--theme-button-default-base);
  --color-button-default-base-hover: var(--theme-button-default-base-hover);
  --color-button-default-border: var(--theme-button-default-border);
  --color-button-default-border-hover: var(--theme-button-default-border-hover);
  --color-button-default-text: var(--theme-button-default-text);
  --color-button-default-text-hover: var(--theme-button-default-text-hover);

  /* Button Primary */
  --color-button-primary-base: var(--theme-button-primary-base);
  --color-button-primary-base-hover: var(--theme-button-primary-base-hover);
  --color-button-primary-text: var(--theme-button-primary-text);
  --color-button-primary-text-hover: var(--theme-button-primary-text-hover);
  --color-button-primary-ring: var(--theme-button-primary-ring);

  /* Button Outline */
  --color-button-outline-base: var(--theme-button-outline-base);
  --color-button-outline-base-hover: var(--theme-button-outline-base-hover);
  --color-button-outline-border: var(--theme-button-outline-border);
  --color-button-outline-border-hover: var(--theme-button-outline-border-hover);
  --color-button-outline-text: var(--theme-button-outline-text);
  --color-button-outline-text-hover: var(--theme-button-outline-text-hover);

  /* Button Secondary */
  --color-button-secondary-base: var(--theme-button-secondary-base);
  --color-button-secondary-base-hover: var(--theme-button-secondary-base-hover);
  --color-button-secondary-text: var(--theme-button-secondary-text);
  --color-button-secondary-text-hover: var(--theme-button-secondary-text-hover);

  /* Button Ghost */
  --color-button-ghost-text: var(--theme-button-ghost-text);
  --color-button-ghost-text-hover: var(--theme-button-ghost-text-hover);

  /* Text Default */
  --color-system-text-default: var(--theme-text-default);

  /* Text Link */
  --color-system-text-link: var(--theme-text-link);
  --color-system-text-link-hover: var(--theme-text-link-hover);
  --color-system-text-link-active: var(--theme-text-link-active);

  /* Text BigLink */
  --color-system-text-biglink: var(--theme-text-biglink);
  --color-system-text-biglink-hover: var(--theme-text-biglink-hover);
  --color-system-text-biglink-active: var(--theme-text-biglink-active);

  /* Title Default */
  --color-system-title-default: var(--theme-system-title-default);

  /* Separator Default */
  --color-system-separator-default: var(--theme-separator-default);

  /* Skeleton Default */
  --color-skeleton-default: var(--theme-skeleton-default);
  --color-skeleton-default-hover: var(--theme-skeleton-default-hover);

  /* Error Wrapper Default */
  --color-error-wrapper-default: var(--theme-error-wrapper-default);
  --color-error-wrapper-border: var(--theme-error-wrapper-border);
  --color-error-wrapper-text: var(--theme-error-wrapper-text);

  /* Label Default */
  --color-label-default: var(--theme-label-default);
  --color-label-required: var(--theme-label-required);

  /* Input Default */
  --color-input-default-base: var(--theme-input-default-base);
  --color-input-default-base-hover: var(--theme-input-default-base-hover);
  --color-input-default-border: var(--theme-input-default-border);
  --color-input-default-border-hover: var(--theme-input-default-border-hover);
  --color-input-default-text: var(--theme-input-default-text);
  --color-input-default-text-hover: var(--theme-input-default-text-hover);
  --color-input-default-ring: var(--theme-input-default-ring);
  --color-input-error-border: var(--theme-input-error-border);
  --color-input-error-ring: var(--theme-input-error-ring);

  /* Badge Error */
  --color-badge-error: var(--theme-badge-error);
  --color-success-error: var(--theme-success-error);

  /* BlockQuote Default */
  --color-blockquote-border-default: var(--theme-blockquote-border-default);

  /* Callout Quote */
  --color-callout-title: var(--theme-callout-title);
  --color-callout-text: var(--theme-callout-text);

  --color-callout-background-tip: var(--theme-callout-background-tip);
  --color-callout-border-tip: var(--theme-callout-border-tip);
  --color-callout-text-tip: var(--theme-callout-text-tip);

  --color-callout-background-warning: var(--theme-callout-background-warning);
  --color-callout-border-warning: var(--theme-callout-border-warning);
  --color-callout-text-warning: var(--theme-callout-text-warning);

  --color-callout-background-info: var(--theme-callout-background-info);
  --color-callout-border-info: var(--theme-callout-border-info);
  --color-callout-text-info: var(--theme-callout-text-info);

  /* Table Default */
  --color-system-table-border: var(--theme-system-table-border);
}

@layer base {
  :root {
    /* Button Default */
    --theme-button-default-base: var(--color-system-neutral-0);
    --theme-button-default-base-hover: var(--color-system-neutral-100);
    --theme-button-default-border: var(--color-system-neutral-200);
    --theme-button-default-border-hover: var(--color-system-neutral-300);
    --theme-button-default-text: var(--color-system-neutral-700);
    --theme-button-default-text-hover: var(--color-system-neutral-900);

    /* Button Primary */
    --theme-button-primary-base: var(--color-system-blue-500);
    --theme-button-primary-base-hover: var(--color-system-blue-700);
    --theme-button-primary-text: var(--color-system-neutral-900);
    --theme-button-primary-text-hover: var(--color-system-neutral-900);
    --theme-button-primary-ring: var(--color-system-blue-800);

    /* Button Outline */
    --theme-button-outline-base: var(--color-system-neutral-100);
    --theme-button-outline-base-hover: var(--color-system-neutral-200);
    --theme-button-outline-border: var(--color-system-neutral-200);
    --theme-button-outline-border-hover: var(--color-system-neutral-300);
    --theme-button-outline-text: var(--color-system-neutral-900);
    --theme-button-outline-text-hover: var(--color-system-neutral-900);

    /* Button Secondary */
    --theme-button-secondary-base: var(--color-system-neutral-700);
    --theme-button-secondary-base-hover: var(--color-system-neutral-800);
    --theme-button-secondary-text: var(--color-system-neutral-0);
    --theme-button-secondary-text-hover: var(--color-system-neutral-100);

    /* Button Ghost */
    --theme-button-ghost-text: var(--color-system-neutral-700);
    --theme-button-ghost-text-hover: var(--color-system-neutral-800);

    /* Text Default */
    --theme-text-default: var(--color-system-neutral-600);

    /* Text Link */
    --theme-text-link: var(--color-system-neutral-600);
    --theme-text-link-hover: var(--color-system-neutral-700);
    --theme-text-link-active: var(--color-system-neutral-700);

    /* Text BigLink */
    --theme-text-biglink: var(--color-system-neutral-600);
    --theme-text-biglink-hover: var(--color-system-neutral-900);
    --theme-text-biglink-active: var(--color-system-neutral-900);

    /* Title default */
    --theme-system-title-default: var(--color-system-neutral-700);

    /* Separator default */
    --theme-separator-default: var(--color-system-neutral-200);

    /* Skeleton default */
    --theme-skeleton-default: var(--color-system-neutral-700);
    --theme-skeleton-default-hover: var(--color-system-neutral-800);

    /* Error Wrapper default */
    --theme-error-wrapper-default: var(--color-system-red-600);
    --theme-error-wrapper-border: var(--color-system-red-600);
    --theme-error-wrapper-text: var(--color-system-neutral-0);

    /* Label default */
    --theme-label-default: var(--color-system-neutral-600);
    --theme-label-required: var(--color-system-red-600);

    /* Input Default */
    --theme-input-default-base: var(--color-system-neutral-0);
    --theme-input-default-base-hover: var(--color-system-neutral-200);
    --theme-input-default-border: var(--color-system-neutral-300);
    --theme-input-default-border-hover: var(--color-system-neutral-300);
    --theme-input-default-text: var(--color-system-neutral-600);
    --theme-input-default-text-hover: var(--color-system-neutral-700);
    --theme-input-default-ring: var(--color-system-blue-800);
    --theme-input-error-border: var(--color-system-red-600);
    --theme-input-error-ring: var(--color-system-red-600);

    /* Badge Error */
    --theme-badge-error: var(--color-system-red-600);
    --theme-success-error: var(--color-system-green-700);

    /* BlockQuote Default */
    --theme-blockquote-border-default: var(--color-system-neutral-400);

    /* Callout Quote */
    --theme-callout-title: var(--color-system-neutral-700);
    --theme-callout-text: var(--color-system-neutral-600);

    --theme-callout-background-tip: var(--color-system-green-200);
    --theme-callout-border-tip: var(--color-system-green-500);
    --theme-callout-text-tip: var(--color-system-green-700);

    --theme-callout-background-warning: var(--color-system-yellow-200);
    --theme-callout-border-warning: var(--color-system-yellow-500);
    --theme-callout-text-warning: var(--color-system-yellow-700);

    --theme-callout-background-info: var(--color-system-blue-200);
    --theme-callout-border-info: var(--color-system-blue-500);
    --theme-callout-text-info: var(--color-system-blue-700);

    /* Table Default */
    --theme-system-table-border: var(--color-system-neutral-200);
  }

  [data-theme="dark"] {
    /* Button Default */
    --theme-button-default-base: var(--color-system-neutral-800);
    --theme-button-default-base-hover: var(--color-system-neutral-900);
    --theme-button-default-border: var(--color-system-neutral-700);
    --theme-button-default-border-hover: var(--color-system-neutral-700);
    --theme-button-default-text: var(--color-system-neutral-0);
    --theme-button-default-text-hover: var(--color-system-neutral-0);

    /* Button Outline */
    --theme-button-outline-base: var(--color-system-neutral-900);
    --theme-button-outline-base-hover: var(--color-system-neutral-700);
    --theme-button-outline-border: var(--color-system-neutral-700);
    --theme-button-outline-border-hover: var(--color-system-neutral-600);
    --theme-button-outline-text: var(--color-system-neutral-0);
    --theme-button-outline-text-hover: var(--color-system-neutral-0);

    /* Button Secondary */
    --theme-button-secondary-base: var(--color-system-neutral-0);
    --theme-button-secondary-base-hover: var(--color-system-neutral-100);
    --theme-button-secondary-text: var(--color-system-neutral-900);
    --theme-button-secondary-text-hover: var(--color-system-neutral-900);

    /* Button Ghost */
    --theme-button-ghost-text: var(--color-system-neutral-0);
    --theme-button-ghost-text-hover: var(--color-system-neutral-100);

    /* Text Default */
    --theme-text-default: var(--color-system-neutral-400);

    /* Text Link */
    --theme-text-link: var(--color-system-neutral-400);
    --theme-text-link-hover: var(--color-system-neutral-0);
    --theme-text-link-active: var(--color-system-neutral-0);

    /* Text BigLink */
    --theme-text-biglink: var(--color-system-neutral-400);
    --theme-text-biglink-hover: var(--color-system-neutral-0);
    --theme-text-biglink-active: var(--color-system-neutral-0);

    /* Title Default */
    --theme-system-title-default: var(--color-system-neutral-0);

    /* Separator Default */
    --theme-separator-default: var(--color-system-neutral-700);

    /* Skeleton Default */
    --theme-skeleton-default: var(--color-system-neutral-400);
    --theme-skeleton-default-hover: var(--color-system-neutral-300);

    /* Error Wrapper Default */
    --theme-error-wrapper-default: var(--color-system-red-600);
    --theme-error-wrapper-border: var(--color-system-red-600);
    --theme-error-wrapper-text: var(--color-system-neutral-0);

    /* Label Default */
    --theme-label-default: var(--color-system-neutral-0);
    --theme-label-required: var(--color-system-red-600);

    /* Input Default */
    --theme-input-default-base: var(--color-system-neutral-800);
    --theme-input-default-base-hover: var(--color-system-neutral-700);
    --theme-input-default-border: var(--color-system-neutral-600);
    --theme-input-default-border-hover: var(--color-system-neutral-600);
    --theme-input-default-text: var(--color-system-neutral-300);
    --theme-input-default-text-hover: var(--color-system-neutral-200);
    --theme-input-default-ring: var(--color-system-blue-700);
    --theme-input-error-border: var(--color-system-red-400);
    --theme-input-error-ring: var(--color-system-red-400);

    /* Badge Error */
    --theme-badge-error: var(--color-system-red-400);
    --theme-success-error: var(--color-system-green-500);

    /* BlockQuote Default */
    --theme-blockquote-border-default: var(--color-system-neutral-700);

    /* Callout Quote */
    --theme-callout-title: var(--color-system-neutral-0);
    --theme-callout-text: var(--color-system-neutral-400);

    --theme-callout-background-tip: var(--color-system-green-900);
    --theme-callout-border-tip: var(--color-system-green-700);
    --theme-callout-text-tip: var(--color-system-green-500);

    --theme-callout-background-warning: var(--color-system-yellow-900);
    --theme-callout-border-warning: var(--color-system-yellow-700);
    --theme-callout-text-warning: var(--color-system-yellow-500);

    --theme-callout-background-info: var(--color-system-blue-900);
    --theme-callout-border-info: var(--color-system-blue-700);
    --theme-callout-text-info: var(--color-system-blue-500);

    /* Table Default */
    --theme-system-table-border: var(--color-system-neutral-700);
  }
}
